.Push-20 {
  height: 40px;
  display: block;
  clear: both;
}

.Push-202 {
  height: 10px;
  display: block;
  clear: both;
}

.Push-20 def {
  height: 40px;
  display: block;
  clear: both;
}

* {
  margin: 0;
}

* {
  margin: 0;
}

